.demo-app-header 
{
    position: fixed;
    top: 0;
    z-index: 2;
}
  
.demo-app-container,
.demo-app-sidenav 
{
  position: absolute;
  padding-top: 64px;
  height: calc(100vh - 64px);
}



//以下自訂義
.banner
{
  width: 100%;
}
.toolbar
{
  padding: 0 20px;
  background-color: #75809C;
  color: #66FFE6;
}
.home
{
  width: 30%;
}
.homeButton
{
  font-size: 20px;
  float: left;
}
//桌機版
.menuButtons
{
  width: 70%;
  font-size: 16px;

  @media (max-width: 913px)
  {
    display: none;
  }
}
.menuButton
{
  font-size: 16px;
  margin: 0 2%;
}

//手機版
.mobileMenuButtons
{
  width: 70%;
  text-align: right;
  @media (min-width: 912.9px)
  {
    display: none;
  }
}

