<div class="productsView">

    <div class="container">
        <div class="row">
            <app-product-card class="col-12 col-md-6 col-xl-4"></app-product-card>
            <app-product-card class="col-12 col-md-6 col-xl-4"></app-product-card>
            <app-product-card class="col-12 col-md-6 col-xl-4"></app-product-card>
            <app-product-card class="col-12 col-md-6 col-xl-4"></app-product-card>
            <app-product-card class="col-12 col-md-6 col-xl-4"></app-product-card>
            <app-product-card class="col-12 col-md-6 col-xl-4"></app-product-card>


        </div>
      </div>
</div>