<mat-card class="productCard">
    <mat-card-header>
      <mat-card-title>Product Name</mat-card-title>
      <mat-card-subtitle>Product Subtitle</mat-card-subtitle>
    </mat-card-header>
    <img class="productImg" mat-card-image src="https://routingshi.github.io/TwRFMermaidArt/assets/image/product.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Product introdution.Product introdution.
        Product introdution.Product introdution.
        Product introdution.Product introdution.
        Product introdution.Product introdution.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button><mat-icon>add_shopping_cart</mat-icon></button>
    </mat-card-actions>
</mat-card>
